button {
    margin-top: 1em;
    outline: none;
    bottom: 15%;
    left: 44%;
    margin: 0 auto;
    position: fixed;
    border: thin solid;
    border-radius: 4px;
    padding: 1em 2em;
    background: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    background-color: #20232a;
    color: white;
}

strong {
    position: fixed;
    bottom: 25%;
    left: 44.5%;
    background: rgba(255,255,255, 0.5);
    font-size: 2em;
    padding: 0.5em;
    border-radius: 5px;
}