<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Color Changer</title>
</head>

<body ng-app="colorChangerApp" ng-controller="colorController" ng-style="backgroundStyle">

    <button ng-click="changeColor()">Change Color</button>
    <p><strong>{{ backgroundStyle['background-color'] }}</strong></p>

    <script src="./main.js"></script>
    <script src="./controllers/color-controller.js"></script>
</body>

</html>